<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BazarSur</title>
    <!-- Favicon -->
    <link rel="icon" href="/images/img/favicon.bazar.ico">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <header>

    </header>
    
    <section class="pregFrecuen">
        <div class="">
            <h2>Preguntas Frecuentes</h2>
            <strong>¿Qué formas de pago puedo aprovechar para realizar mi compra?</strong>
            <p>Disponemos de los siguientes medios de pago:</p>
        </div>
        <div class="">
            <img src="/images/medios de pago/visa@2x.png" alt="">
            <img src="/images/medios de pago/mastercard@2x.png" alt="">
            <img src="/images/medios de pago/amex@2x.png" alt="">
            <img src="/images/medios de pago/diners@2x.png" alt="">
            <img src="/images/medios de pago/banelco@2x.png" alt="">
            <img src="/images/medios de pago/cabal@2x.png" alt="">
            <img src="/images/medios de pago/tarjeta-naranja@2x.png" alt="">
            <img src="/images/medios de pago/tarjeta-shopping@2x.png" alt="">
            <img src="/images/medios de pago/mercadopago@2x.png" alt="">
            <img src="/images/medios de pago/todopago@2x.png" alt="">
            <img src="/images/medios de pago/argencard@2x.png" alt="">
            <img src="/images/medios de pago/nativa@2x.png" alt="">
            <img src="/images/medios de pago/cencosud@2x.png" alt="">
            <img src="/images/medios de pago/rapipago@2x.png" alt="">
        </div>
        <div class="">
            <strong>¿Cuál es el costo de envío?</strong>
            <br>
            <p>El costo de envío será mostrado en base al total de la compra y ubicación, en el checkout, en el momento previo a la compra. Desde $1000 SIN CARGO a todo el pais.</p>
            <br>
            <strong>¿Cómo se realizan los envíos?</strong>
            <br>
            <p>Trabajamos con: Correo Argentino.</p>
            <br>
            <strong>¿Cuánto tarda en llegar el pedido?</strong>
            <br>
            <p>Realizamos envíos a todo el país. El envio segun la zona tarda entre 5/7 dias habiles</p>
            <br>
            <strong>Cuál es el plazo para realizar un cambio?</strong>
            <br>
            <p>Puedes solicitar un cambio hasta 10 días luego de realizada la compra.</p>
            <br>
            <strong>¿Qué debo hacer si el pedido no llega en buen estado?</strong>
            <br>
            <p>Ponte en contacto con nosotros a <a href="mailto:bazarsur@gmail.com" class="email">bazarsur@gmail.com</a> y te enviaremos uno nuevo.</p>
            <br>
    </section>

    <footer class="footer">


    </footer>

    <a href="https://wa.me/541130748502?text=Hola quiero informacion de su negocio" class="btn-wsp" target="_blank"> 
        <img src="/images/whatsapp-fill.svg" alt="">
    </a>

    <script src="/js/header.js"></script>
    <script src="/js/footer.js"></script>
</body>
</html>