<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BazarSur</title>
    <!-- Favicon -->
    <link rel="icon" href="/images/img/favicon.bazar.ico" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      
    </header>

    <main>
      <div class="container">

        <h1>¿Quienes Somos?</h1>
        <p id="quienes-somos">
Hace muchos años, en un pequeño taller artesanal, un hábil artesano llamado Axel descubrió su pasión por la restauración de cacerolas. Su amor por la cocina y la tradición lo llevó a adentrarse en el mundo de las ollas y sartenes antiguas, descubriendo su belleza y valor intrínseco más allá de su funcionalidad.
<br>
<br>
Con el tiempo, Axel se convirtió en un maestro en el arte de restaurar cacerolas. Cada pieza que pasaba por sus manos no solo recuperaba su brillo y esplendor original, sino que también conservaba su historia y carácter únicos. Su reputación creció rápidamente, y pronto su taller se convirtió en el destino preferido para aquellos que buscaban revivir el encanto de sus cacerolas familiares heredadas.
<br>
<br>

Con el deseo de compartir su pasión con el mundo, Axel decidió fundar su propia empresa de restauración de cacerolas: "BazarSur". Cada cacerola restaurada por su equipo no solo representaba una herramienta de cocina funcional, sino también una pieza de arte culinario con una historia que contar.
<br>
<br>
La empresa se comprometió a preservar la artesanía tradicional mientras adoptaba prácticas sostenibles y modernas. Utilizaban técnicas de restauración cuidadosas y respetuosas para devolver a cada cacerola su esplendor original sin comprometer su autenticidad. Además, promovían la reutilización y el reciclaje, fomentando un estilo de vida consciente y respetuoso con el medio ambiente.
<br>
<br>
Con el tiempo, "BazarSur" se convirtió en un referente en el mundo de la restauración de cacerolas. Sus clientes no solo apreciaban la calidad y el cuidado con el que se trataban sus piezas, sino también el amor y la pasión que se dedicaban a cada proyecto.
<br>
<br>
La empresa continuó creciendo, expandiendo su alcance y ofreciendo servicios personalizados para satisfacer las necesidades de sus clientes más exigentes. A medida que el tiempo pasaba, "BazarSur" seguía siendo un faro de tradición, calidad y excelencia en el mundo de la restauración de cacerolas. Y aunque el negocio prosperaba, para Axel y su equipo, lo más importante seguía siendo la satisfacción de ver cómo cada cacerola restaurada encontraba un nuevo hogar, llevando consigo su propia historia y legado culinario.
        </p>

      </div>
    </main>

    <footer class="footer">

    </footer>

    <a
      href="https://wa.me/541130748502?text=Hola quiero informacion de su negocio"
      class="btn-wsp"
      target="_blank"
    >
      <img src="/images/whatsapp-fill.svg" alt="" />
    </a>
    <script src="/js/header.js"></script>
    <script src="/js/footer.js"></script>
  </body>
</html>
