<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BazarSur</title>
    <!-- Favicon -->
    <link rel="icon" href="/images/img/favicon.bazar.ico">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <header>

    </header>

    <main>
        <br>
        <br>
        <img class="img-banner" src="/images/Fotos de piezas en general/BANNER 84x60 PLUR 2020.png" alt="">
        <br>
        <br>
    </main>

    <footer class="footer">


    </footer>

    <a href="https://wa.me/541130748502?text=Hola quiero informacion de su negocio" class="btn-wsp" target="_blank"> 
        <img src="/images/whatsapp-fill.svg" alt="">
    </a>
    <script src="/js/header.js"></script>
    <script src="/js/footer.js"></script>
</body>
</html>